<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwstd.mapper.HostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cwstd.pojo.Host">
        <id column="hid" property="hid" />
        <result column="hname" property="hname" />
        <result column="hpwd" property="hpwd" />
        <result column="hphone" property="hphone" />
        <result column="starttime" property="starttime" />
        <result column="status" property="status" />
        <result column="strong" property="strong" />
        <result column="ordernumber" property="ordernumber" />
        <association property="hostPower" javaType="com.cwstd.pojo.HostPower">
            <id column="hpid" property="hpid" />
            <result column="hpstar" property="hpstar" />
            <result column="hpstart_begindate" property="hpstartBegindate" />
            <result column="hpstar_enddate" property="hpstarEnddate" />
            <result column="hp_order_power" property="hpOrderPower" />
            <result column="hpstar_begintime" property="hpstarBegintime" />
            <result column="hpstar_endtime" property="hpstarEndtime" />
            <result column="hpdiscount" property="hpdiscount" />
            <result column="hp_dis_starttime" property="hpDisStarttime" />
            <result column="hp_dis_endtime" property="hpDisEndtime" />
            <result column="hpprice" property="hpprice" />
            <result column="hpcosts" property="hpcosts" />
            <result column="hostid" property="hostid" />
        </association>
    </resultMap>
    <select id="select1" resultMap="BaseResultMap">
        select * from t_host as p left join t_host_power as pw  on p.hid=pw.hostid
        <where>
            <if test="hostConfig.hname!=null and hostConfig.hname!=''">
                <bind name="hosthname" value="'%'+hostConfig.hname+'%'"/>
                and p.hname like #{hosthname}
            </if>
            <if test="hostConfig.status!=null and hostConfig.status!=''">
                and p.status=#{hostConfig.status}
            </if>
            <if test="hostConfig.hpstar!=null and hostConfig.hpstar!=''">
                and pw.hpstar=#{hostConfig.hpstar}
            </if>
            <if test="hostConfig.hpdiscount!=null and hostConfig.hpdiscount!=''">
                and pw.hpdiscount=#{hostConfig.hpdiscount}
            </if>
        </where>
        ORDER BY p.strong
        <if test="hostConfig.strong!=null and hostConfig.strong!=''">
             ${hostConfig.strong}
        </if>
    </select>

</mapper>
